.nav {
  display: flex;
  height: 60px;
  align-items: center;

  a {
    font-size: 16px;
    color: #fff;
    margin-left: 15px;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &:first-child {
      margin: 0;
    }
  }
}
