.nav {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;

  a {
    font-size: 16px;
    color: #fff;
    margin-left: 15px;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &:first-child {
      margin: 0;
    }
  }
  .logout {
    button {
      background: #4642fb;
      color: #fff;
      padding: 7px 20px;
      border-radius: 50px;
      border: none;
      &:hover,
      &:focus {
        outline: none;
      }
    }
  }
}
