.todo {
  .addTodo {
    form {
      width: 100%;
      display: flex;
    }

    &__input {
      flex: 10;
      margin-right: 15px;

      input {
        width: 100%;
        border: 1px solid #42aefb;
        padding: 7px 10px;

        border-radius: 25px;

        &:focus,
        &:hover {
          outline: none;
        }
      }
    }

    &__button {
      position: relative;
      flex: 2;

      button {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 7px 0;
        color: #fff;
        border-radius: 25px;
        border: none;
        background: linear-gradient(
          122deg,
          #4642fb 0%,
          #4282fb 50%,
          #42aefb 100%
        );

        &:focus,
        &:hover {
          outline: none;
        }
      }
    }

    .vdp-datepicker {
      margin: 0 5px;

      input {
        width: 100%;
        border: 1px solid #42aefb;
        padding: 7px 10px;

        border-radius: 25px;
        &:focus,
        &:hover {
          outline: none;
        }
      }
    }
  }
  .list {
    margin: 40px 0;

    &__item {
      position: relative;
      box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.05) !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      border-radius: 6px;
      padding: 25px;
      margin-bottom: 25px;
      &:hover {
        .list__item__delete {
          display: block;
        }
      }

      &__delete {
        position: absolute;
        top: -10px;
        right: -10px;
        display: none;

        button {
          background: red;
          border: none;
          color: #fff;
          border-radius: 100%;
          &:hover,
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  .empty {
    text-align: center;
    font-size: 35px;
  }
}
